@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@source '../node_modules/@skeletonlabs/skeleton-svelte';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/rose';

@layer base {
	html {
		@apply h-full;
	}

	body {
		background-attachment: fixed;
		background-image:
			radial-gradient(
				at 0% 25%,
				color-mix(
						in oklab,
						light-dark(var(--color-primary-900), var(--color-primary-500)) 10%,
						transparent
					)
					0px,
				transparent 30%
			),
			radial-gradient(
				at 15% 6%,
				color-mix(
						in oklab,
						light-dark(var(--color-success-900), var(--color-success-500)) 5%,
						transparent
					)
					0px,
				transparent 30%
			);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow-x: hidden;
	}

	p,
	li,
	code {
		@apply sm:text-lg;
	}

	code {
		@apply code;
	}
}

@utility min-h-svh-y-5 {
	min-height: calc(100svh - 20px);
}

@utility min-h-svh-y-100 {
	min-height: calc(100svh - 92px);
}

@custom-variant touch {
	@media (hover: none) {
		@slot;
	}
}
