@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/rose';

@theme {
	--breakpoint-xs: 25.5rem; /* 408px */
}

@layer base {
	html {
		--page-background-image:
			radial-gradient(
				at 0% 25%,
				color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px,
				transparent 50%
			),
			radial-gradient(
				at 15% 6%,
				color-mix(in oklab, var(--color-tertiary-500) 5%, transparent) 0px,
				transparent 50%
			);
		height: 100%;
		background-image: var(--page-background-image);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	@keyframes enter-from-right {
		from {
			filter: blur(6px);
			opacity: 0;
			transform: translateX(16%);
		}
		to {
			filter: blur(0);
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes exit-to-left {
		from {
			filter: blur(0);
			opacity: 1;
			transform: translateX(0);
		}
		to {
			filter: blur(6px);
			opacity: 0;
			transform: translateX(-8%);
		}
	}

	@keyframes enter-from-left {
		from {
			filter: blur(6px);
			opacity: 0;
			transform: translateX(-16%);
		}
		to {
			filter: blur(0);
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes exit-to-right {
		from {
			filter: blur(0);
			opacity: 1;
			transform: translateX(0);
		}
		to {
			filter: blur(6px);
			opacity: 0;
			transform: translateX(8%);
		}
	}

	::view-transition {
		background-image: var(--page-background-image);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	::view-transition-old(root),
	::view-transition-new(root) {
		mix-blend-mode: normal;
	}

	/* Forward */
	html:active-view-transition-type(forward)::view-transition-old(root) {
		animation: exit-to-left 350ms cubic-bezier(0.55, 0, 0.1, 1) both;
	}

	html:active-view-transition-type(forward)::view-transition-new(root) {
		animation: enter-from-right 350ms cubic-bezier(0.55, 0, 0.1, 1) both;
	}

	/* Back */
	html:active-view-transition-type(back)::view-transition-old(root) {
		animation: exit-to-right 350ms cubic-bezier(0.55, 0, 0.1, 1) both;
	}

	html:active-view-transition-type(back)::view-transition-new(root) {
		animation: enter-from-left 350ms cubic-bezier(0.55, 0, 0.1, 1) both;
	}

	body {
		height: 100%;
		overflow-x: hidden;
		background-color: transparent;
	}

	p,
	li {
		@apply text-base md:text-lg;
	}

	button {
		cursor: pointer;
	}
}
